<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ project }}</title>
	</head>
	<body>
		<main>
			<h1 class="visually-hidden">{{ project }}</h1>

			{% block main %}Страница в разработке.
			{% endblock %}
		</main>
	</body>
</html>
