@font-face {
	font-weight: 400;
	font-family: 'Open Sans';
	font-style: normal;
	font-display: swap;
	src: local('Open Sans'), url('../fonts/opensans.woff2') format('woff2');
}

@font-face {
	font-weight: 600;
	font-family: 'Open Sans';
	font-style: normal;
	font-display: swap;
	src: local('Open Sans Semibold'),
		url('../fonts/opensans-semibold.woff2') format('woff2');
}
